progress {
  -webkit-appearance: none;
  -moz-appearance : none;
  appearance: none;
  background: white;
}

progress::-webkit-progress-bar {
    appearance: none;
    background-color: red;
    block-size: 100%;
    inline-size: 100%;
    box-sizing: border-box;
    -webkit-user-modify: read-only !important;
}

input[type=range]{
    appearance: none;    
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    background: red;
    width: 50px;
    height: 50px;
}

input::-webkit-input-placeholder {
    color: red;
}

input[type=file]::-webkit-file-upload-button {
    background: blue;
    border: none;
}

.input-file::file-selector-button {
    background-color: skyblue;
    border: none;
    padding: 20px;
}

.input-file::file-selector-button:hover {
    background-color: blue;
}